<h1>Restaurants#index</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Address</th>
      <th>Name</th>
      <th>Photo</th>
      <th>City</th>
      <th>State</th>
      <th>URL</th>
      <th>ReviewCount</th>
      <th>Stars</th>
      <th>Longitude</th>
      <th>Latitude</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |near| %>
<!--    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{near.latitude}%2C#{near.longitude}" %> -->
      <tr> 
        <td><%= near.id %></td>
        <td><%= near.address %></td>
        <td><%= near.businessName %></td>
        <td><%= near.photoURL %></td>
        <td><%= near.city %></td>
	<td><%= near.state %></td>
	<td><%= near.url %></td>
	<td><%= near.reviewCount %></td>
	<td><%= near.stars %></td>
	<td><%= near.longitude %></td>
	<td><%= near.latitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--<h1>Import a CSV File</h1>
  <%= form_tag import_restaurants_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %> -->
  <% end %> 
